hawaii58_workflow_o1_optimized.json
{
  "name": "Hawaii58 Notion自动生成摘要与关键词",
  "nodes": [
    {
      "parameters": {
        "polling": "interval",
        "frequency": 1,
        "unit": "minutes",
        "databaseId": "1d07e864-3b7b-80b7-9135-c068b625785a",
        "filter": {
          "property": "生成状态",
          "equals": "待生成"
        },
        "watchFor": "changes"
      },
      "name": "概念触发器",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "NotionApi", 
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "pageId": "={{ $json.id }}",
        "simple": false
      },
      "name": "获取整页",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "NotionApi",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "pageId": "={{ $json.id }}",
        "properties": [
          {
            "property": "生成状态",
            "propertyType": "select",
            "value": "生成中"
          }
        ],
        "simple": false
      },
      "name": "更新状态为正在处理",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "NotionApi",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "values": [
          {
            "name": "title",
            "value": "={{ $json.properties[\"推文标题\"]?.title[0]?.plain_text || \"【无标题】\" }}"
          },
          {
            "name": "content",
            "value": "={{ $json.properties[\"正文内容\"]?.rich_text[0]?.plain_text || \"【无正文】\" }}"
          }
        ],
        "options": {}
      },
      "name": "设置内容",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "responseFormat": "json",
        "queryParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "AIzaSyDJC5a882ruaC7iC4HyW4pfWe_TZYFOPBw"
            }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "contents",
              "value": "{\"parts\":[{\"text\":\"请根据以下文章内容，生成一个300字左右的摘要，并提取5个关键词。\\n\\n文章标题：{{ $node[\\\"设置内容\\\"].json.title }}\\n\\n文章内容：{{ $node[\\\"设置内容\\\"].json.content }}\\n\\n请按以下格式返回：\\n---摘要---\\n[这里是摘要内容]\\n\\n---关键词---\\n1. [关键词1]\\n2. [关键词2]\\n3. [关键词3]\\n4. [关键词4]\\n5. [关键词5]\\n\"}]}"
            }
          ]
        }
      },
      "name": "使用 Gemini 生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const itemsNew = [];\ntry {\n  // 解析 Gemini API 的响应\n  const data = items[0].json;\n  \n  // 适应 Gemini API v1beta 返回格式\n  let text = \"\";\n  if (data.candidates && data.candidates[0] && data.candidates[0].content) {\n    text = data.candidates[0].content.parts[0].text;\n  } else if (data.choices && data.choices[0]) {\n    // 备用解析方式\n    text = data.choices[0].text || \"\";\n  }\n\n  // 分离摘要和关键词\n  const parts = text.split('---关键词---');\n  const summaryPart = parts[0] || '';\n  const keywordsPart = parts[1] || '';\n\n  const summary = summaryPart.replace('---摘要---', '').trim();\n\n  // 提取关键词\n  const lines = keywordsPart.split('\\n').map(l => l.trim()).filter(l => l);\n  const keywords = lines.map(l => l.replace(/^\\d+\\.\\s*/, '').trim());\n\n  // 如果提取失败，使用默认值\n  const finalSummary = summary || '系统未能生成有效的摘要';\n  const finalKeywords = (keywords && keywords.length) ? keywords.join(', ') : '自动生成, 内容摘要, 关键词, 智能生成, 文章';\n\n  itemsNew.push({\n    json: {\n      summary: finalSummary,\n      keywords: finalKeywords,\n      pageId: $node[\"获取整页\"].json.id\n    }\n  });\n\n} catch (error) {\n  console.error(error);\n  itemsNew.push({\n    json: {\n      summary: '处理时发生错误，无法生成摘要。',\n      keywords: '错误, 处理失败, 自动生成, 需要修复, 检查配置',\n      pageId: $node[\"获取整页\"].json.id,\n      error: error.message,\n    }\n  });\n}\nreturn itemsNew;"
      },
      "name": "解析响应",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "append",
        "pageId": "={{ $json.pageId }}",
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_3",
              "richText": [
                {
                  "type": "text",
                  "text": {
                    "content": "生成摘要"
                  }
                }
              ]
            },
            {
              "type": "paragraph",
              "richText": [
                {
                  "type": "text",
                  "text": {
                    "content": "={{ $json.summary }}"
                  }
                }
              ]
            },
            {
              "type": "heading_3",
              "richText": [
                {
                  "type": "text",
                  "text": {
                    "content": "关键词"
                  }
                }
              ]
            },
            {
              "type": "paragraph",
              "richText": [
                {
                  "type": "text",
                  "text": {
                    "content": "={{ $json.keywords }}"
                  }
                }
              ]
            }
          ]
        }
      },
      "name": "追加摘要与关键词",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "NotionApi",
          "name": "Notion API Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "page",
        "pageId": "={{ $json.pageId }}",
        "properties": [
          {
            "property": "生成状态",
            "propertyType": "select",
            "value": "已生成"
          },
          {
            "property": "生成时间",
            "propertyType": "date",
            "value": "={{ $now }}"
          },
          {
            "property": "摘要",
            "propertyType": "rich_text",
            "value": "={{ $json.summary.substring(0, 2000) }}"
          }
        ],
        "simple": false
      },
      "name": "更新状态",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "NotionApi",
          "name": "Notion API Token"
        }
      }
    }
  ],
  "connections": {
    "概念触发器": {
      "main": [
        [
          {
            "node": "获取整页",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取整页": {
      "main": [
        [
          {
            "node": "更新状态为正在处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新状态为正在处理": {
      "main": [
        [
          {
            "node": "设置内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "设置内容": {
      "main": [
        [
          {
            "node": "使用 Gemini 生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "使用 Gemini 生成": {
      "main": [
        [
          {
            "node": "解析响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析响应": {
      "main": [
        [
          {
            "node": "追加摘要与关键词",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "追加摘要与关键词": {
      "main": [
        [
          {
            "node": "更新状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false
}