hawaii58_workflow_v2.json
{
  "name": "Hawaii58 Content Generation",
  "nodes": [
    {
      "parameters": {
        "authentication": "notionApi",
        "applyTo": "database",
        "databaseId": "1d07e864-3b7b-80b7-9135-c068b625785a",
        "options": {
          "filter": {
            "property": "生成状态",
            "select": {
              "equals": "待生成"
            }
          }
        }
      },
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "page",
        "pageId": "={{ $json.body.id }}",
        "properties": {
          "生成状态": {
            "select": {
              "name": "生成中"
            }
          }
        }
      },
      "name": "Update Status to Processing",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json.properties[\"推文标题\"].title[0].plain_text }}"
            },
            {
              "name": "content",
              "value": "={{ $json.properties[\"正文内容\"].rich_text[0].plain_text }}"
            }
          ]
        }
      },
      "name": "Set Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "authentication": "genericCredentials",
        "genericAuthType": "queryAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_CREDENTIALS_ID }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": {
                "parts": [
                  {
                    "text": "=请根据以下文章内容，生成一个300字左右的摘要，并提取5个关键词。\\n\\n文章标题：{{ $node[\"Set Content\"].json.title }}\\n\\n文章内容：{{ $node[\"Set Content\"].json.content }}\\n\\n请按以下格式返回：\\n---摘要---\\n[这里是摘要内容]\\n\\n---关键词---\\n1. [关键词1]\\n2. [关键词2]\\n3. [关键词3]\\n4. [关键词4]\\n5. [关键词5]"
                  }
                ]
              }
            }
          ]
        }
      },
      "name": "Generate with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "functionCode": "// 解析 Gemini API 的响应\nconst response = JSON.parse(items[0].json.body);\nconst text = response.candidates[0].content.parts[0].text;\n\n// 分离摘要和关键词\nconst [summaryPart, keywordsPart] = text.split('\\n\\n---关键词---\\n');\nconst summary = summaryPart.replace('---摘要---\\n', '').trim();\n\n// 提取关键词\nconst keywords = keywordsPart\n  .split('\\n')\n  .filter(line => line.trim())\n  .map(line => line.replace(/^\\d+\\.\\s*/, '').trim());\n\nreturn [{\n  json: {\n    summary,\n    keywords\n  }\n}];"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "resource": "page",
        "pageId": "={{ $node[\"Notion Trigger\"].json.body.id }}",
        "properties": {
          "生成状态": {
            "select": {
              "name": "已生成"
            }
          },
          "生成时间": {
            "date": {
              "start": "={{ $now }}"
            }
          },
          "摘要": {
            "rich_text": [
              {
                "text": {
                  "content": "={{ $node[\"Parse Response\"].json.summary }}"
                }
              }
            ]
          },
          "关键词": {
            "multi_select": "={{ $node[\"Parse Response\"].json.keywords.map((keyword) => ({name: keyword})) }}"
          }
        }
      },
      "name": "Update Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Update Status to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Processing": {
      "main": [
        [
          {
            "node": "Set Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Content": {
      "main": [
        [
          {
            "node": "Generate with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate with Gemini": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Update Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}